<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body background="http://clickpakistan.org/wp-content/uploads/2016/05/F-1.jpeg">

<h1>This is a heading.</h1>
<h2>This is a paragraph.</h2>

</body>
</html>



<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("http://www.yogabasics.com/yogabasics2017/wp-content/uploads/2013/11/6011047041_db62cd9be6_b.jpg");
   background-color: #cccccc;
}
</style>
</head>
<body>

<h1>The background-image Property</h1>

<p>Hello World!</p>

</body>
</html>
